# Import all the dependences

In [297]:
import pandas as pd
from pandas import DataFrame
from pandas import Series
import numpy as np
import seaborn as sns
sns.set(style='whitegrid',context='notebook')
import os
from pathlib import Path

# Creating the function

In [357]:
def define_bonus(month,name):
    table = month[["C.I.N","APELLIDOS_NOMBRES","TOTAL HABERES"]]
    all_months = 12
    table["AGUINALDO"] = table["TOTAL HABERES"] / all_months
    print(table.head(60))
    print(table["AGUINALDO"].sum())
    with pd.ExcelWriter(f"{name}_aguinaldo.xlsx") as writer:
        table.to_excel(writer,sheet_name=f'{name}')

# ENERO

In [358]:
ENERO = pd.read_excel('./ALL_SALARIES_DATA/SA_SALARIOS_ENERO2022.xlsx',header=None)
ENERO.columns = ["C.I.N","APELLIDOS_NOMBRES","SECTOR","Modalidad de Pago","Salario Básico","Destajo o Jornal 1ra Quincena", "Destajo o Jornal 2da Quincena", 	"Plus por Productividad","Horas de Refuerzo","Comisiones", 	"IVA",	"TOTAL HABERES",	"IPS PATRONAL",	"IPS 9%","Prendas","Celular", 	"Anticipos",	"Otros Descuentos", 	"Descuentos Judiciales", 	"Aus, Lleg Tardias, Permisos, Reposos",	"TOTAL DESCUENTOS",	"Neto","Via de Pago"]
ENERO = ENERO.drop(index=[0,1,2,3,4,5])
# ENERO[["C.I.N°","APELLIDOS Y NOMBRES","TOTAL HABERES"]]
define_bonus(ENERO,'ENERO')

      C.I.N                         APELLIDOS_NOMBRES TOTAL HABERES  \
6   6844001                      ACA LEDEZMA ROMINA         3300168
7   4508871                         ACOSTA LUZ MARIA        3700000
8   5810670            ALEGRE PORTILLO LUCIA RUDIANA        5927356
9    575182           ALMADA GONZALEZ MABEL ERMELINDA       5500000
10  1435532                         ALVARENGA FELICIA       2800000
11   952553             ALVAREZ DE PEDRINA ANA MARIA        2843090
12  5111672          ANZOATEGUI FLEITAS EVELIO JAVIER       1161360
13  1904116                  AQUINO DE AYALA IDALINA        5191248
14  6863675                  AQUINO ESPINOLA CINTHIA        2415210
15  1537313                ARIAS ROLON GABRIELA ESTER       5165823
16  6359067             ARMOA ALVARENGA CECILIA BELEN       2289324
17  6155733             BAEZ HERMOSA CECILIA MICAELA        2289324
18  3638176        BAREIRO CENTURION NICOLAS AGUSTIN        3544600
19  5203237            BAREIRO SANCHEZ ALEJANDRO ABEL        574236
20  5499534             BENITEZ ACOSTA EDUARDO JARDEL       2289324
21  1651877                BENITEZ ROJAS JOSE ALFREDO       3166180
22  5994821                       BRAVO PENAYO AURORA       4003961
23  6562148                        BRAVO PEREZ NELIDA       5761146
24  5419724                 BRITEZ SOSA LAURA RAQUEL        2404469
25  6708009                  BRIZUELA CORONEL IGNACIO       5484350
26  4721891                    CABALLERO LOPEZ EDGAR        1752482
27  4219192                     CANDIA MIERES LORENZA       7853550
28  4366776       CANTERO FIGUEREDO SILVIA CONCEPCION       4072005
29  7575931            CHAMORRO ALEGRE BRENDA JAZMIN         516321
30  4632142                CHAPARRO GAMARRA CAROLINA        4011746
31  4555237                     CUELLAR ROSA GRICELDA       6000000
32  5903741                   CUENCA MORINIGO AGUSTIN       6724081
33  1544726                   DAUD ORUE DIEGO MARCELO      22000000
34  4037096            DIAZ JARBIEN CINTHIA ELIZABETH       3742414
35  6937372          DOMINGUEZ FIGUEREDO MARCOS RAMON       5285195
36  4641356             DOMINGUEZ MACIEL JORGE MANUEL       2403788
37  2045626  DOS SANTOS MARTINEZ MARIA DE LOS ANGELES       2663666
38  5373161                   DUARTE BAEZ ELIDA ROSA        3591746
39  6640381            DUARTE LARRAMENDI HECTOR ERNAN       2525415
40  3789469            ENRIQUEZ MENDEZ DERLYS DEJESUS       3546302
41  5372609         ESCOBAR GONZALEZ LOURDES SILVERIA       4771234
42  3617723                          ESPINOLA NICOLAS       5819100
43  4191294                 FERNANDEZ DOMINGUEZ IRMA        5708256
44  6295390                      FIGUEREDO PEDRO JUAN       6914830
45  3275123            FLEITAS DISTEFANO GERARDO JOSE       2543090
46  6778944                FLOR ROJAS GUSTAVO DANIEL        2747212
47  6637206                       GAMARRA LEITE NOEMI       2849419
48  4870730           GIMENEZ CARTAMAN LUIS FERNANDO        3209115
49  4870666           GIMENEZ CARTAMAN RUBEN JEREMIAS       3350551
50  6510989               GONZALEZ GODOY JUAN CARLOS        1818355
51  5267784                GONZALEZ SOSA NERI ALFONZO       2842576
52   749645             HEISECKE DUARTE LUIS FERNANDO       2289324
53  5360170               HERMOSILLA GONZALEZ SAMUEL        2988771
54  5433635                INSFRAN MOREL YARA DAHIANA       3309383
55  3604049                 LUCENA NUÑEZ ROSA MARIBEL       2710910
56   920148                         MALDONADO EUSEBIO       2371601
57  4808140           MARECOS CABALLERO JOSE IGNACIO        2568342
58  7472541                MARTINEZ FERNANDEZ RODRIGO       2109710
59  1685895                MENDEZ DE ENRIQUEZ LEONIDA       4357925
60  1601738                      MIRANDA MARIA TERESA       2400000
61  1038220                       MORA SANCHEZ GUIDO        2500000
62  4304856            MORAN LEDESMA  OTILIA MACARENA       2404528
63  4421701              MORINIGO NOGUERA HUGO DARIO        2461220
64  6097344                 MORINIGO VILLASBOA ANGELA       3046045
65  6097351                 MORINIGO VILLASBOA SERGIO       3799191

         AGUINALDO
6         275014.0
7    308333.333333
8    493946.333333
9    458333.333333
10   233333.333333
11   236924.166667
12         96780.0
13        432604.0
14        201267.5
15       430485.25
16        190777.0
17        190777.0
18   295383.333333
19         47853.0
20        190777.0
21   263848.333333
22   333663.416667
23        480095.5
24   200372.416667
25   457029.166667
26   146040.166667
27        654462.5
28       339333.75
29        43026.75
30   334312.166667
31        500000.0
32   560340.083333
33  1833333.333333
34   311867.833333
35   440432.916667
36   200315.666667
37   221972.166667
38   299312.166667
39       210451.25
40   295525.166667
41   397602.833333
42        484925.0
43        475688.0
44   576235.833333
45   211924.166667
46   228934.333333
47   237451.583333
48       267426.25
49   279212.583333
50   151529.583333
51   236881.333333
52        190777.0
53       249064.25
54   275781.916667
55   225909.166667
56   197633.416667
57        214028.5
58   175809.166667
59   363160.416667
60        200000.0
61   208333.333333
62   200377.333333
63   205101.666667
64   253837.083333
65       316599.25
59717082.00000001

/tmp/ipykernel_115857/980856062.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table["AGUINALDO"] = table["TOTAL HABERES"] / all_months

# Febrero

In [359]:
FEBRERO = pd.read_excel('./ALL_SALARIES_DATA/SA_SALARIOS_FEBRERO_2022.xlsx',header=None)
FEBRERO.head(6)
FEBRERO.columns = ["C.I.N","APELLIDOS_NOMBRES","SECTOR","Modalidad de Pago","Salario Básico","Destajo o Jornal 1ra Quincena", "Destajo o Jornal 2da Quincena", 	"Plus por Productividad","Horas de Refuerzo","Comisiones", 	"IVA",	"TOTAL HABERES",	"IPS PATRONAL",	"IPS 9%","Prendas","Celular", 	"Anticipos",	"Otros Descuentos", 	"Descuentos Judiciales", 	"Aus, Lleg Tardias, Permisos, Reposos",	"TOTAL DESCUENTOS",	"Neto","Via de Pago"]
FEBRERO = FEBRERO.drop(index=[0,1,2,3,4,5])
define_bonus(FEBRERO,"FEBRERO")

/tmp/ipykernel_115857/980856062.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table["AGUINALDO"] = table["TOTAL HABERES"] / all_months

      C.I.N                         APELLIDOS_NOMBRES TOTAL HABERES  \
6   6844001                      ACA LEDEZMA ROMINA         2176163
7   4508871                         ACOSTA LUZ MARIA        3700000
8   5810670            ALEGRE PORTILLO LUCIA RUDIANA        4292016
9    575182           ALMADA GONZALEZ MABEL ERMELINDA       5500000
10  1435532                         ALVARENGA FELICIA       2800000
11   952553             ALVAREZ DE PEDRINA ANA MARIA        2700000
12  5111672          ANZOATEGUI FLEITAS EVELIO JAVIER       2303633
13  1904116                  AQUINO DE AYALA IDALINA        4009406
14  6863675                  AQUINO ESPINOLA CINTHIA        2878061
15  1537313                ARIAS ROLON GABRIELA ESTER       5165823
16  6359067             ARMOA ALVARENGA CECILIA BELEN       2655156
17  6155733             BAEZ HERMOSA CECILIA MICAELA        2289324
18  3638176        BAREIRO CENTURION NICOLAS AGUSTIN        2584140
19  5203237            BAREIRO SANCHEZ ALEJANDRO ABEL       2393772
20  5499534             BENITEZ ACOSTA EDUARDO JARDEL       2289324
21  1651877                BENITEZ ROJAS JOSE ALFREDO       2880000
22  5994821                       BRAVO PENAYO AURORA       2990541
23  6562148                        BRAVO PEREZ NELIDA       3889220
24  5419724                 BRITEZ SOSA LAURA RAQUEL        2924560
25  6708009                  BRIZUELA CORONEL IGNACIO       3370477
26  4721891                    CABALLERO LOPEZ EDGAR        3585104
27  4219192                     CANDIA MIERES LORENZA       7188821
28  4366776       CANTERO FIGUEREDO SILVIA CONCEPCION       3673167
29  7575931            CHAMORRO ALEGRE BRENDA JAZMIN              0
30  4632142                CHAPARRO GAMARRA CAROLINA        3421069
31  4555237                     CUELLAR ROSA GRICELDA       6000000
32  5903741                   CUENCA MORINIGO AGUSTIN       5067605
33  1544726                   DAUD ORUE DIEGO MARCELO      22026515
34   758825                       DIAZ AMARILLA JORGE       3600000
35  4037096            DIAZ JARBIEN CINTHIA ELIZABETH       3039350
36  6937372          DOMINGUEZ FIGUEREDO MARCOS RAMON       3594515
37  4641356             DOMINGUEZ MACIEL JORGE MANUEL       2289324
38  2045626  DOS SANTOS MARTINEZ MARIA DE LOS ANGELES       2600000
39  5373161                   DUARTE BAEZ ELIDA ROSA        3221069
40  6640381            DUARTE LARRAMENDI HECTOR ERNAN       2378755
41  3789469            ENRIQUEZ MENDEZ DERLYS DEJESUS       2970917
42  5372609         ESCOBAR GONZALEZ LOURDES SILVERIA       4217831
43  3617723                          ESPINOLA NICOLAS       4739200
44  4191294                 FERNANDEZ DOMINGUEZ IRMA        3859392
45  6295390                      FIGUEREDO PEDRO JUAN       4871403
46  3275123            FLEITAS DISTEFANO GERARDO JOSE       2400000
47  6778944                FLOR ROJAS GUSTAVO DANIEL        2289324
48  6637206                       GAMARRA LEITE NOEMI       2360864
49  4870730           GIMENEZ CARTAMAN LUIS FERNANDO        2353715
50  4870666           GIMENEZ CARTAMAN RUBEN JEREMIAS       2553659
51  5267784                GONZALEZ SOSA NERI ALFONZO       2393772
52   749645             HEISECKE DUARTE LUIS FERNANDO       2289324
53  5360170               HERMOSILLA GONZALEZ SAMUEL        2377318
54  3604049                 LUCENA NUÑEZ ROSA MARIBEL        677315
55   920148                         MALDONADO EUSEBIO       2289324
56  4808140           MARECOS CABALLERO JOSE IGNACIO        2339406
57  7472541                MARTINEZ FERNANDEZ RODRIGO       2353715
58  1685895                MENDEZ DE ENRIQUEZ LEONIDA       3141008
59  1601738                      MIRANDA MARIA TERESA       2400000
60  4304856            MORAN LEDESMA  OTILIA MACARENA       2960327
61  4421701              MORINIGO NOGUERA HUGO DARIO        3920268
62  6097344                 MORINIGO VILLASBOA ANGELA       2353715
63  6097351                 MORINIGO VILLASBOA SERGIO       3572418
64  2269986                    NOGUERA ACUÑA VENANCIO       2800000
65  6020261               NOGUERA COLMAN NOELIA NOEMI       2376603

         AGUINALDO
6    181346.916667
7    308333.333333
8         357668.0
9    458333.333333
10   233333.333333
11        225000.0
12   191969.416667
13   334117.166667
14   239838.416667
15       430485.25
16        221263.0
17        190777.0
18        215345.0
19        199481.0
20        190777.0
21        240000.0
22       249211.75
23   324101.666667
24   243713.333333
25   280873.083333
26   298758.666667
27   599068.416667
28       306097.25
29             0.0
30   285089.083333
31        500000.0
32   422300.416667
33  1835542.916667
34        300000.0
35   253279.166667
36   299542.916667
37        190777.0
38   216666.666667
39   268422.416667
40   198229.583333
41   247576.416667
42   351485.916667
43   394933.333333
44        321616.0
45       405950.25
46        200000.0
47        190777.0
48   196738.666667
49   196142.916667
50   212804.916667
51        199481.0
52        190777.0
53   198109.833333
54    56442.916667
55        190777.0
56        194950.5
57   196142.916667
58   261750.666667
59        200000.0
60   246693.916667
61        326689.0
62   196142.916667
63        297701.5
64   233333.333333
65       198050.25
54247923.999999985

# MARZO

In [360]:
MARZO = pd.read_excel('./ALL_SALARIES_DATA/SA_SALARIOS_MARZO_2022.xlsx',header=None)
MARZO.columns = ["C.I.N","APELLIDOS_NOMBRES","SECTOR","Modalidad de Pago","Salario Básico","Destajo o Jornal 1ra Quincena", "Destajo o Jornal 2da Quincena", 	"Plus por Productividad","Horas de Refuerzo","Vacaciones","Comisiones", 	"IVA",	"TOTAL HABERES",	"IPS PATRONAL",	"IPS 9%","Prendas","Celular", 	"Anticipos",	"Otros Descuentos", 	"Descuentos Judiciales", 	"Aus, Lleg Tardias, Permisos, Reposos",	"TOTAL DESCUENTOS",	"Neto","Via de Pago"]
MARZO = MARZO.drop(index=[0,1,2,3,4,5])
define_bonus(MARZO,"MARZO")

      C.I.N                         APELLIDOS_NOMBRES TOTAL HABERES  \
6   6844001                        ACA LEDEZMA ROMINA       2963571
7   4508871                         ACOSTA LUZ MARIA        3700000
8   5810670             ALEGRE PORTILLO LUCIA RUDIANA       3283711
9    575182           ALMADA GONZALEZ MABEL ERMELINDA       5500000
10  1435532                         ALVARENGA FELICIA       2800000
11   952553             ALVAREZ DE PEDRINA ANA MARIA        2700000
12  5111672          ANZOATEGUI FLEITAS EVELIO JAVIER       2339406
13  1904116                  AQUINO DE AYALA IDALINA        4418968
14  6863675                  AQUINO ESPINOLA CINTHIA        2289324
15  1537313                ARIAS ROLON GABRIELA ESTER       5165823
16  6359067             ARMOA ALVARENGA CECILIA BELEN       2289324
17  6155733             BAEZ HERMOSA CECILIA MICAELA        2289324
18  3638176         BAREIRO CENTURION NICOLAS AGUSTIN       2893843
19  5203237            BAREIRO SANCHEZ ALEJANDRO ABEL       2300056
20  1651877                BENITEZ ROJAS JOSE ALFREDO       2880000
21  5994821                       BRAVO PENAYO AURORA       3479184
22  6562148                        BRAVO PEREZ NELIDA       4397976
23  5419724                 BRITEZ SOSA LAURA RAQUEL        2289324
24  6708009                  BRIZUELA CORONEL IGNACIO       3988102
25  4721891                     CABALLERO LOPEZ EDGAR       3798500
26  4219192                     CANDIA MIERES LORENZA       7287161
27  4366776       CANTERO FIGUEREDO SILVIA CONCEPCION       3732171
28  7575931            CHAMORRO ALEGRE BRENDA JAZMIN              0
29  4632142                CHAPARRO GAMARRA CAROLINA        5239852
30  4555237                     CUELLAR ROSA GRICELDA       6000000
31  5903741                   CUENCA MORINIGO AGUSTIN       4692565
32  1544726                   DAUD ORUE DIEGO MARCELO      22000000
33  4037096            DIAZ JARBIEN CINTHIA ELIZABETH       3000000
34  6937372          DOMINGUEZ FIGUEREDO MARCOS RAMON       3019511
35  4641356             DOMINGUEZ MACIEL JORGE MANUEL       2364446
36  2045626  DOS SANTOS MARTINEZ MARIA DE LOS ANGELES       2600000
37  5373161                   DUARTE BAEZ ELIDA ROSA        4989852
38  6640381            DUARTE LARRAMENDI HECTOR ERNAN       2378755
39  3789469            ENRIQUEZ MENDEZ DERLYS DEJESUS       3668247
40  5372609         ESCOBAR GONZALEZ LOURDES SILVERIA       3617791
41  3617723                          ESPINOLA NICOLAS       4644092
42  4191294                  FERNANDEZ DOMINGUEZ IRMA       4343537
43  6295390                      FIGUEREDO PEDRO JUAN       4865858
44  3275123            FLEITAS DISTEFANO GERARDO JOSE       2400000
45  6778944                FLOR ROJAS GUSTAVO DANIEL        2289324
46  6637206                       GAMARRA LEITE NOEMI       2289324
47  4870730           GIMENEZ CARTAMAN LUIS FERNANDO        2289324
48  4870666           GIMENEZ CARTAMAN RUBEN JEREMIAS       2500000
49  5267784                GONZALEZ SOSA NERI ALFONZO       2300056
50  5134262                        GUANES DAUD RAFAEL       1650000
51   749645             HEISECKE DUARTE LUIS FERNANDO       2289324
52  5360170               HERMOSILLA GONZALEZ SAMUEL        2300056
53  3976289                 JARA MORALES PEDRO DAMIAN       2940000
54  3604049                 LUCENA NUÑEZ ROSA MARIBEL       1232714
55   920148                         MALDONADO EUSEBIO       2289324
56  4808140           MARECOS CABALLERO JOSE IGNACIO        2357292
57  7472541                MARTINEZ FERNANDEZ RODRIGO       2289324
58  1685895                MENDEZ DE ENRIQUEZ LEONIDA       3091522
59  1601738                      MIRANDA MARIA TERESA       2400000
60  4304856            MORAN LEDESMA  OTILIA MACARENA       2349324
61  4421701              MORINIGO NOGUERA HUGO DARIO        4118704
62  6097344                 MORINIGO VILLASBOA ANGELA       2289324
63  6097351                 MORINIGO VILLASBOA SERGIO       4317570
64  2269986                    NOGUERA ACUÑA VENANCIO       2800000
65  6020261               NOGUERA COLMAN NOELIA NOEMI       2289324

         AGUINALDO
6        246964.25
7    308333.333333
8    273642.583333
9    458333.333333
10   233333.333333
11        225000.0
12        194950.5
13   368247.333333
14        190777.0
15       430485.25
16        190777.0
17        190777.0
18   241153.583333
19   191671.333333
20        240000.0
21        289932.0
22        366498.0
23        190777.0
24   332341.833333
25   316541.666667
26   607263.416667
27       311014.25
28             0.0
29   436654.333333
30        500000.0
31   391047.083333
32  1833333.333333
33        250000.0
34   251625.916667
35   197037.166667
36   216666.666667
37        415821.0
38   198229.583333
39       305687.25
40   301482.583333
41   387007.666667
42   361961.416667
43   405488.166667
44        200000.0
45        190777.0
46        190777.0
47        190777.0
48   208333.333333
49   191671.333333
50        137500.0
51        190777.0
52   191671.333333
53        245000.0
54   102726.166667
55        190777.0
56        196441.0
57        190777.0
58   257626.833333
59        200000.0
60        195777.0
61   343225.333333
62        190777.0
63        359797.5
64   233333.333333
65        190777.0
54921716.0

/tmp/ipykernel_115857/980856062.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table["AGUINALDO"] = table["TOTAL HABERES"] / all_months

# ABRIL

In [361]:
ABRIL = pd.read_excel('./ALL_SALARIES_DATA/SA_SALARIOS_Abril2022.xlsx',header=None)
ABRIL.columns = ["C.I.N","APELLIDOS_NOMBRES","SECTOR","Modalidad de Pago","Salario Básico","Destajo o Jornal 1ra Quincena", "Destajo o Jornal 2da Quincena","Plus por Productividad","Horas de Refuerzo","Comisiones", "IVA",	"TOTAL HABERES",	"IPS PATRONAL",	"IPS 9%","Prendas","Celular", 	"Anticipos",	"Otros Descuentos", 	"Descuentos Judiciales", 	"Aus, Lleg Tardias, Permisos, Reposos",	"TOTAL DESCUENTOS",	"Neto","Via de Pago"]
ABRIL = ABRIL.drop(index=[0,1,2,3,4,5])
ABRIL
define_bonus(ABRIL,"ABRIL")

/tmp/ipykernel_115857/980856062.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table["AGUINALDO"] = table["TOTAL HABERES"] / all_months

      C.I.N                         APELLIDOS_NOMBRES TOTAL HABERES  \
6   6844001                        ACA LEDEZMA ROMINA       2524148
7   4508871                         ACOSTA LUZ MARIA        3700000
8   5810670             ALEGRE PORTILLO LUCIA RUDIANA       1196500
9   6718878              ALFONZO DURE VICTOR EMANUEL        1526216
10   575182           ALMADA GONZALEZ MABEL ERMELINDA       5500000
11  1435532                         ALVARENGA FELICIA       2800000
12   952553             ALVAREZ DE PEDRINA ANA MARIA        2700000
13  5111672          ANZOATEGUI FLEITAS EVELIO JAVIER       2289324
14  1904116                  AQUINO DE AYALA IDALINA        3494466
15  6863675                  AQUINO ESPINOLA CINTHIA        2320086
16  1537313                ARIAS ROLON GABRIELA ESTER       5165823
17  6359067             ARMOA ALVARENGA CECILIA BELEN       2332248
18  6155733             BAEZ HERMOSA CECILIA MICAELA        2289324
19  3638176         BAREIRO CENTURION NICOLAS AGUSTIN       2317293
20  5203237            BAREIRO SANCHEZ ALEJANDRO ABEL       2340833
21  1651877                BENITEZ ROJAS JOSE ALFREDO       2400000
22  5994821                       BRAVO PENAYO AURORA       2983133
23  6562148                        BRAVO PEREZ NELIDA       3935209
24  5419724                 BRITEZ SOSA LAURA RAQUEL        2334394
25  6708009                  BRIZUELA CORONEL IGNACIO       2985603
26  4721891                     CABALLERO LOPEZ EDGAR       2975996
27  4219192                     CANDIA MIERES LORENZA       8205885
28  4366776       CANTERO FIGUEREDO SILVIA CONCEPCION       4283405
29  4577934                              CARDOZO LISA       1526216
30  7575931            CHAMORRO ALEGRE BRENDA JAZMIN              0
31  4632142                CHAPARRO GAMARRA CAROLINA        3671053
32  4555237                     CUELLAR ROSA GRICELDA       6000000
33  5903741                   CUENCA MORINIGO AGUSTIN       4130236
34  1544726                   DAUD ORUE DIEGO MARCELO      22000000
35  4037096            DIAZ JARBIEN CINTHIA ELIZABETH       3000000
36  6937372          DOMINGUEZ FIGUEREDO MARCOS RAMON       2974801
37  4641356             DOMINGUEZ MACIEL JORGE MANUEL       2357292
38  2045626  DOS SANTOS MARTINEZ MARIA DE LOS ANGELES       2600000
39  5373161                   DUARTE BAEZ ELIDA ROSA        3471053
40  6640381            DUARTE LARRAMENDI HECTOR ERNAN       2493227
41  3789469            ENRIQUEZ MENDEZ DERLYS DEJESUS       3303127
42  5372609         ESCOBAR GONZALEZ LOURDES SILVERIA       2204000
43  3617723                          ESPINOLA NICOLAS       3589331
44  4191294                  FERNANDEZ DOMINGUEZ IRMA       4176052
45  6295390                      FIGUEREDO PEDRO JUAN       4180653
46  3275123            FLEITAS DISTEFANO GERARDO JOSE       2400000
47  6778944                FLOR ROJAS GUSTAVO DANIEL        2289324
48  6637206                       GAMARRA LEITE NOEMI       2334394
49  4870730           GIMENEZ CARTAMAN LUIS FERNANDO        2289324
50  5267784                GONZALEZ SOSA NERI ALFONZO       2340833
51  5134262                        GUANES DAUD RAFAEL       1650000
52   749645             HEISECKE DUARTE LUIS FERNANDO       2289324
53  5360170               HERMOSILLA GONZALEZ SAMUEL        2340833
54  3976289                 JARA MORALES PEDRO DAMIAN       4200000
55  3604049                 LUCENA NUÑEZ ROSA MARIBEL             0
56   920148                         MALDONADO EUSEBIO       2289324
57  4808140           MARECOS CABALLERO JOSE IGNACIO        2357292
58  7472541                MARTINEZ FERNANDEZ RODRIGO       2340833
59  1685895                MENDEZ DE ENRIQUEZ LEONIDA       2613899
60  1601738                      MIRANDA MARIA TERESA       2400000
61  4304856            MORAN LEDESMA  OTILIA MACARENA       2320086
62  4421701              MORINIGO NOGUERA HUGO DARIO        3676709
63  6097344                 MORINIGO VILLASBOA ANGELA       2289324
64  6097351                 MORINIGO VILLASBOA SERGIO       3541305
65  2269986                    NOGUERA ACUÑA VENANCIO       2800000

         AGUINALDO
6    210345.666667
7    308333.333333
8     99708.333333
9    127184.666667
10   458333.333333
11   233333.333333
12        225000.0
13        190777.0
14        291205.5
15        193340.5
16       430485.25
17        194354.0
18        190777.0
19       193107.75
20   195069.416667
21        200000.0
22   248594.416667
23   327934.083333
24   194532.833333
25       248800.25
26   247999.666667
27       683823.75
28   356950.416667
29   127184.666667
30             0.0
31   305921.083333
32        500000.0
33   344186.333333
34  1833333.333333
35        250000.0
36   247900.083333
37        196441.0
38   216666.666667
39   289254.416667
40   207768.916667
41   275260.583333
42   183666.666667
43   299110.916667
44   348004.333333
45       348387.75
46        200000.0
47        190777.0
48   194532.833333
49        190777.0
50   195069.416667
51        137500.0
52        190777.0
53   195069.416667
54        350000.0
55             0.0
56        190777.0
57        196441.0
58   195069.416667
59   217824.916667
60        200000.0
61        193340.5
62   306392.416667
63        190777.0
64       295108.75
65   233333.333333
51543246.666666664

# MAYO

In [362]:
MAYO = pd.read_excel('./ALL_SALARIES_DATA/SA_SALARIOS_MAYO_2022.xlsx',header=None)
MAYO.columns = ["C.I.N","APELLIDOS_NOMBRES","SECTOR","Modalidad de Pago","Salario Básico","Destajo o Jornal 1ra Quincena", "Destajo o Jornal 2da Quincena","Plus por Productividad","Horas de Refuerzo","Comisiones", "IVA",	"TOTAL HABERES",	"IPS PATRONAL",	"IPS 9%","Prendas","Celular", 	"Anticipos",	"Otros Descuentos", 	"Descuentos Judiciales", 	"Aus, Lleg Tardias, Permisos, Reposos",	"TOTAL DESCUENTOS",	"Neto","Via de Pago"]
MAYO = MAYO.drop(index=[0,1,2,3,4,5])
define_bonus(MAYO,"MAYO")

/tmp/ipykernel_115857/980856062.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table["AGUINALDO"] = table["TOTAL HABERES"] / all_months

      C.I.N                         APELLIDOS_NOMBRES TOTAL HABERES  \
6   6844001                        ACA LEDEZMA ROMINA       2647523
7   4508871                         ACOSTA LUZ MARIA        3700000
8   5810670             ALEGRE PORTILLO LUCIA RUDIANA       2343994
9   6718878              ALFONZO DURE VICTOR EMANUEL        2289324
10   575182           ALMADA GONZALEZ MABEL ERMELINDA       5500000
11  1435532                         ALVARENGA FELICIA       2800000
12   952553             ALVAREZ DE PEDRINA ANA MARIA        2700000
13  5111672          ANZOATEGUI FLEITAS EVELIO JAVIER       2389324
14  1904116                  AQUINO DE AYALA IDALINA        3351940
15  6863675                  AQUINO ESPINOLA CINTHIA        2352999
16  1537313                ARIAS ROLON GABRIELA ESTER       5165823
17  6359067             ARMOA ALVARENGA CECILIA BELEN       2295763
18  6155733             BAEZ HERMOSA CECILIA MICAELA        2289324
19  3638176         BAREIRO CENTURION NICOLAS AGUSTIN       2165864
20  5203237            BAREIRO SANCHEZ ALEJANDRO ABEL       2367308
21  1651877                BENITEZ ROJAS JOSE ALFREDO       2800000
22  5994821                       BRAVO PENAYO AURORA       1872270
23  6562148                        BRAVO PEREZ NELIDA       3867839
24  5419724                 BRITEZ SOSA LAURA RAQUEL        2352999
25  6708009                  BRIZUELA CORONEL IGNACIO       3208000
26  4721891                     CABALLERO LOPEZ EDGAR       2732464
27  4219192                     CANDIA MIERES LORENZA       7440799
28  4366776       CANTERO FIGUEREDO SILVIA CONCEPCION       3824354
29  4577934                              CARDOZO LISA       2289324
30  7575931            CHAMORRO ALEGRE BRENDA JAZMIN              0
31  4632142                CHAPARRO GAMARRA CAROLINA        4460189
32  4555237                     CUELLAR ROSA GRICELDA       6000000
33  5903741                   CUENCA MORINIGO AGUSTIN       3722362
34  1544726                   DAUD ORUE DIEGO MARCELO      22000000
35  4037096            DIAZ JARBIEN CINTHIA ELIZABETH       3000000
36  6937372          DOMINGUEZ FIGUEREDO MARCOS RAMON       3070075
37  4641356             DOMINGUEZ MACIEL JORGE MANUEL       2417942
38  2045626  DOS SANTOS MARTINEZ MARIA DE LOS ANGELES       2600000
39  5373161                   DUARTE BAEZ ELIDA ROSA        4260189
40  6640381            DUARTE LARRAMENDI HECTOR ERNAN       2438690
41  3789469            ENRIQUEZ MENDEZ DERLYS DEJESUS       2826983
42  5372609         ESCOBAR GONZALEZ LOURDES SILVERIA       3268000
43  3617723                          ESPINOLA NICOLAS       3840466
44  4191294                  FERNANDEZ DOMINGUEZ IRMA       5051912
45  6295390                      FIGUEREDO PEDRO JUAN       4610505
46  3275123            FLEITAS DISTEFANO GERARDO JOSE       2400000
47  6778944                FLOR ROJAS GUSTAVO DANIEL        2289324
48  4870730           GIMENEZ CARTAMAN LUIS FERNANDO        2289324
49  5267784                GONZALEZ SOSA NERI ALFONZO       2381617
50  5134262                        GUANES DAUD RAFAEL       1650000
51   749645             HEISECKE DUARTE LUIS FERNANDO       2289324
52  5360170               HERMOSILLA GONZALEZ SAMUEL        2289324
53  3976289                 JARA MORALES PEDRO DAMIAN       4200000
54  3604049                 LUCENA NUÑEZ ROSA MARIBEL             0
55   920148                         MALDONADO EUSEBIO       2289324
56  4808140           MARECOS CABALLERO JOSE IGNACIO        2467308
57  7472541                MARTINEZ FERNANDEZ RODRIGO       2360869
58  1685895                MENDEZ DE ENRIQUEZ LEONIDA       3085708
59  1601738                      MIRANDA MARIA TERESA       2400000
60  4304856            MORAN LEDESMA  OTILIA MACARENA       2352999
61  4421701              MORINIGO NOGUERA HUGO DARIO        2846683
62  6097344                 MORINIGO VILLASBOA ANGELA       2289324
63  6097351                 MORINIGO VILLASBOA SERGIO       3304019
64  2269986                    NOGUERA ACUÑA VENANCIO       2940000
65  6020261               NOGUERA COLMAN NOELIA NOEMI       2289324

         AGUINALDO
6    220626.916667
7    308333.333333
8    195332.833333
9         190777.0
10   458333.333333
11   233333.333333
12        225000.0
13   199110.333333
14   279328.333333
15       196083.25
16       430485.25
17   191313.583333
18        190777.0
19   180488.666667
20   197275.666667
21   233333.333333
22        156022.5
23   322319.916667
24       196083.25
25   267333.333333
26   227705.333333
27   620066.583333
28   318696.166667
29        190777.0
30             0.0
31   371682.416667
32        500000.0
33   310196.833333
34  1833333.333333
35        250000.0
36   255839.583333
37   201495.166667
38   216666.666667
39       355015.75
40   203224.166667
41   235581.916667
42   272333.333333
43   320038.833333
44   420992.666667
45       384208.75
46        200000.0
47        190777.0
48        190777.0
49   198468.083333
50        137500.0
51        190777.0
52        190777.0
53        350000.0
54             0.0
55        190777.0
56        205609.0
57   196739.083333
58   257142.333333
59        200000.0
60       196083.25
61   237223.583333
62        190777.0
63   275334.916667
64        245000.0
65        190777.0
51873251.925

# JUNIO

In [363]:
JUNIO = pd.read_excel('./ALL_SALARIES_DATA/SA_SALARIOS_JUNIO_2022.xlsx',header=None)
JUNIO.columns = ["C.I.N","APELLIDOS_NOMBRES","SECTOR","Modalidad de Pago","Salario Básico","Destajo o Jornal 1ra Quincena", "Destajo o Jornal 2da Quincena","Plus por Productividad","Horas de Refuerzo","Bonificacion Extraordinaria","Comisiones", "IVA",	"TOTAL HABERES",	"IPS PATRONAL",	"IPS 9%","Prendas","Celular", 	"Anticipos", "ANticipos Bonificacion extraordinaria",	"Otros Descuentos", 	"Descuentos Judiciales", 	"Aus, Lleg Tardias, Permisos, Reposos",	"TOTAL DESCUENTOS",	"Neto","Via de Pago"]
JUNIO = JUNIO.drop(index=[0,1,2,3,4,5])
define_bonus(JUNIO,"JUNIO")

/tmp/ipykernel_115857/980856062.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table["AGUINALDO"] = table["TOTAL HABERES"] / all_months

      C.I.N                         APELLIDOS_NOMBRES TOTAL HABERES  \
6   6863675                  AQUINO ESPINOLA CINTHIA        5142790
7   6359067             ARMOA ALVARENGA CECILIA BELEN       4886992
8   4845108                AVALOS LOPEZ SANDRA LUJAN        3830489
9   6155733             BAEZ HERMOSA CECILIA MICAELA        2661861
10  5203237            BAREIRO SANCHEZ ALEJANDRO ABEL       2289324
11  1651877                BENITEZ ROJAS JOSE ALFREDO       5829748
12  5419724                 BRITEZ SOSA LAURA RAQUEL        4588398
13  4219192                     CANDIA MIERES LORENZA      16915423
14  4366776       CANTERO FIGUEREDO SILVIA CONCEPCION      11880141
15  2045626  DOS SANTOS MARTINEZ MARIA DE LOS ANGELES       5667804
16  5373161                   DUARTE BAEZ ELIDA ROSA        6581225
17  3275123            FLEITAS DISTEFANO GERARDO JOSE       5054062
18  6778944                FLOR ROJAS GUSTAVO DANIEL        2838639
19  5267784                GONZALEZ SOSA NERI ALFONZO       5136810
20   749645             HEISECKE DUARTE LUIS FERNANDO       3369324
21  6944516               LOPEZ SILVA GLORIA ESTEFANI       2036551
22  7472541                MARTINEZ FERNANDEZ RODRIGO       2450300
23  1601738                      MIRANDA MARIA TERESA       5278614
24  4304856            MORAN LEDESMA  OTILIA MACARENA       5135157
25  6020261               NOGUERA COLMAN NOELIA NOEMI       4900778
26  3475479        NUNES MENDOZA RAMON CRISTIAN JESUS      23742183
27  3357659            PEREIRA SERVIN NESTOR GABRIEL        5453558
28  5936290         ROLÓN PAEZ FATIMA DE LOS MILAGROS       5605987
29  3765720                  RUIZ DIAZ GUILLEN MABEL        1755148
30  5829220           SANTA CRUZ VERA MILAGROS NICOLE       1883929
31  3575003                         SERVIN EMMA MARIA       8506319
32  4371211                  THOMPSON MARIA ELIZABETH       3000000
33  4602455            VALDEZ LEDEZMA RODRIGO ALEXIS        4902070
34  1201546            VARGAS OVIEDO MARLENE YOLANDA        3189870
35  1544726                   DAUD ORUE DIEGO MARCELO      44000000
36  2127292                   POMPA MUJICA MARÍA JOSÉ      15152826
37  3208631                  SOUSA MUJICA LUIS FELIPE      41800000
38  6844001                        ACA LEDEZMA ROMINA       4547789
39  4508871                         ACOSTA LUZ MARIA        7639921
40  5810670             ALEGRE PORTILLO LUCIA RUDIANA       9799788
41  6718878              ALFONZO DURE VICTOR EMANUEL        2289324
42   575182           ALMADA GONZALEZ MABEL ERMELINDA      12428566
43  1435532                         ALVARENGA FELICIA       6208627
44   952553             ALVAREZ DE PEDRINA ANA MARIA        5872670
45  1904116                  AQUINO DE AYALA IDALINA        4875127
46  4694936                     ARANDA SERGIO DANIEL        1831459
47  1537313                ARIAS ROLON GABRIELA ESTER      11501884
48  3638176         BAREIRO CENTURION NICOLAS AGUSTIN       5529984
49  5994821                       BRAVO PENAYO AURORA       1807829
50  6562148                        BRAVO PEREZ NELIDA       7119350
51  6708009                  BRIZUELA CORONEL IGNACIO       5823409
52  4721891                     CABALLERO LOPEZ EDGAR     2915641.2
53  7575931            CHAMORRO ALEGRE BRENDA JAZMIN        4206470
54  4632142                CHAPARRO GAMARRA CAROLINA        8638192
55  4555237                     CUELLAR ROSA GRICELDA       7455166
56  5903741                   CUENCA MORINIGO AGUSTIN       7027151
57  4037096            DIAZ JARBIEN CINTHIA ELIZABETH       6658560
58  6937372          DOMINGUEZ FIGUEREDO MARCOS RAMON       7601070
59  4641356             DOMINGUEZ MACIEL JORGE MANUEL       5268502
60  6640381            DUARTE LARRAMENDI HECTOR ERNAN       4734816
61  7127634         ENRIQUEZ MENDEZ ALEJANDRO SAMUEL        1561042
62  3789469            ENRIQUEZ MENDEZ DERLYS DEJESUS       4758445
63  5372609         ESCOBAR GONZALEZ LOURDES SILVERIA       5574538
64  3617723                          ESPINOLA NICOLAS       6644138
65  4191294                  FERNANDEZ DOMINGUEZ IRMA      10529138

         AGUINALDO
6    428565.833333
7    407249.333333
8    319207.416667
9        221821.75
10        190777.0
11   485812.333333
12        382366.5
13  1409618.583333
14       990011.75
15        472317.0
16   548435.416667
17   421171.833333
18       236553.25
19        428067.5
20        280777.0
21   169712.583333
22   204191.666667
23        439884.5
24       427929.75
25   408398.166667
26      1978515.25
27   454463.166667
28   467165.583333
29   146262.333333
30   156994.083333
31   708859.916667
32        250000.0
33   408505.833333
34        265822.5
35  3666666.666667
36       1262735.5
37  3483333.333333
38   378982.416667
39   636660.083333
40        816649.0
41        190777.0
42  1035713.833333
43   517385.583333
44   489389.166667
45   406260.583333
46   152621.583333
47   958490.333333
48        460832.0
49   150652.416667
50   593279.166667
51   485284.083333
52        242970.1
53   350539.166667
54   719849.333333
55   621263.833333
56   585595.916667
57        554880.0
58        633422.5
59   439041.833333
60        394568.0
61   130086.833333
62   396537.083333
63   464544.833333
64   553678.166667
65   877428.166667
100856126.73333335

# JULIO

In [235]:
# JULIO = pd.read_excel('./ALL_SALARIES_DATA/SA_SALARIOS_JULIO_2022.xlsx',header=None)
# JULIO.columns = ["C.I.N°","APELLIDOS Y NOMBRES","SECTOR","Modalidad de Pago","Salario Básico","Destajo o Jornal 1ra Quincena", "Destajo o Jornal 2da Quincena","Plus por Productividad","Horas de Refuerzo","Bonificacion Extraordinaria","Comisiones", "IVA",	"TOTAL HABERES",	"IPS PATRONAL",	"IPS 9%","Prendas","Celular", 	"Anticipos", "ANticipos Bonificacion extraordinaria",	"Otros Descuentos", 	"Descuentos Judiciales", 	"Aus, Lleg Tardias, Permisos, Reposos",	"TOTAL DESCUENTOS",	"Neto","Via de Pago"]
# JULIO = JULIO.drop(index=[0,1,2,3,4,5])
# define_bonus(JULIO)

# merging all files  bonus-finished

In [364]:
file = [file for file in os.listdir('./bonus_finished/')]

All_month_data = DataFrame()

for file in file:
    df = pd.read_excel('./bonus_finished/'+file)
    All_month_data = pd.concat([All_month_data,df])
    
All_month_data.to_excel("AGUINALDO.xlsx")

In [365]:
bonus = pd.read_excel("AGUINALDO.xlsx")

In [366]:
bonus.columns = ["ID",'numero',"CIN","APELLIDOS_NOMBRES","TOTAL_HABERES","AGUINALDO"]
# All_month_data.sort_index(axis=0, level=None, inplace=False, kind='quicksort', sort_remaining=True)
bonus

,ID,numero,CIN,APELLIDOS_NOMBRES,TOTAL_HABERES,AGUINALDO
0,0,6,6844001.0,ACA LEDEZMA ROMINA,2647523.0,2.206269e+05
1,1,7,4508871.0,ACOSTA LUZ MARIA,3700000.0,3.083333e+05
2,2,8,5810670.0,ALEGRE PORTILLO LUCIA RUDIANA,2343994.0,1.953328e+05
3,3,9,6718878.0,ALFONZO DURE VICTOR EMANUEL,2289324.0,1.907770e+05
4,4,10,575182.0,ALMADA GONZALEZ MABEL ERMELINDA,5500000.0,4.583333e+05
...,...,...,...,...,...,...
559,89,95,4321390.0,VARGAS LOPEZ RUBEN DARIO,2992839.0,2.494032e+05
560,90,96,1201546.0,VARGAS OVIEDO MARLENE YOLANDA,1500000.0,1.250000e+05
561,91,97,4538675.0,VERA MARTINEZ JORGE DAMIAN,6042209.0,5.035174e+05
562,92,98,4513856.0,VILLAR ROA DE DOMINGUEZ CATALINA SOLEDAD,3073612.0,2.561343e+05
563,93,99,NaN,NaN,358302492.0,2.985854e+07

,Unnamed: 0,C.I.N°,APELLIDOS Y NOMBRES,TOTAL HABERES,AGUINALDO
0,6,6844001.0,ACA LEDEZMA ROMINA,2647523.0,2.206269e+05
1,7,4508871.0,ACOSTA LUZ MARIA,3700000.0,3.083333e+05
2,8,5810670.0,ALEGRE PORTILLO LUCIA RUDIANA,2343994.0,1.953328e+05
3,9,6718878.0,ALFONZO DURE VICTOR EMANUEL,2289324.0,1.907770e+05
4,10,575182.0,ALMADA GONZALEZ MABEL ERMELINDA,5500000.0,4.583333e+05
...,...,...,...,...,...
89,95,4321390.0,VARGAS LOPEZ RUBEN DARIO,2992839.0,2.494032e+05
90,96,1201546.0,VARGAS OVIEDO MARLENE YOLANDA,1500000.0,1.250000e+05
91,97,4538675.0,VERA MARTINEZ JORGE DAMIAN,6042209.0,5.035174e+05
92,98,4513856.0,VILLAR ROA DE DOMINGUEZ CATALINA SOLEDAD,3073612.0,2.561343e+05
93,99,NaN,NaN,358302492.0,2.985854e+07